@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: url("./assets/coffeeBeans.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.background-pic {
  background-image: url("./assets/coffeeBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
